{% extends "layout.html" %}

{% block title %} Add Employee {% endblock %}

{% block content %}
        <style>
            /* input {
                position: absolute;
                left: 150px;
            }
            
            select {
                position: absolute;
                left: 150px;
            } */
        </style>
        <div class="form1">
            <h1 style="text-align: center; color: rgb(23, 5, 187);">Add Employee</h1>
        
             
            <form action="" method="POST" enctype = "multipart/form-data">
                <label for="name">Employee name*</label>
                <input type="name" class="text1" id="name" name="name" required><br><br>
                <label for="designation">Designation*</label>
                <select id="designation" class="text1" name="designation">
                    <option value="Receptionist">Receptionist</option>
                    <option value="Lab">Lab</option>
                </select><br>
                <label for="emppassword">Employee Password</label>
                <input type="password" class="text1" id="emppassword" name="emppassword" value="hospital">
                <label for="ephoto">Employee Photo</label>
                <input type="file" id="ephoto" name="ephoto"><br><br>
                <pre>(*)Fields are compulsary</pre>
                <button class="button" type="submit">Add Employee</button>
                <button class="rbutton" type="reset">Reset</button>
            </form>

            <table >
        <tr>
            <th>ID</th>
            <th>SSN ID</th>
            <th>NAME</th>

        </tr>
        {% for employee in employees %}
        <tr>
            <td> {{ employee.ename }} </td>
            <td> {{ employee.edesignation }} </td>
            <td> <img src="/static/ephotos/{{ employee.ephoto }}" height="150px" width="150px"/></td>
        </tr>
        {% endfor %}
    </table>
    <br>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <h3 style="color: red;"> {{ msg }} </h3>
                {% endfor %}
            {% endif %}
            {% endwith%}
        
        </div>
    {% endblock %}