{% extends "layout.html" %}

{% block title %} Account Status {% endblock %}

{% block content %}
        <style>
            /* input {
                position: absolute;
                left: 150px;
            }
            
            select {
                position: absolute;
                left: 150px;
            } */
        </style>
        <div style="width:100%">
        <div style="float: right; margin:400px 5%;">
            {% if gen or semi or single %}
            <table class="table">
                <tr>
                    <th>General Beds</th>
                    <th>Semi-Share Beds</th>
                    <th>Single Beds</th>
                </tr>

                <tr>
                    <td>{{gen}}</td>
                    <td>{{semi}}</td>
                    <td>{{single}}</td>
                </tr>
            </table>
        {% endif %}
        </div>
        <div class="form" style="margin: 100px auto; width: 25%;">
            <h1 style="color:#032583">Register Patient</h1>
        
           

            <form action="" method="POST">
                <label for="nid">NID / BIRTH CERTIFICATE NO*</label>
                <input type="number" class="text1" id="nid" name="nid" min="9" maxlength="9" required><br>
                <label for="pname">Name*</label>
                <input type="text" class="text1" id="pname" name="pname" required><br>

                <label for="pnum">Patient Contact Number*</label>
                <input type="text" class="text1" id="pnum" name="pnum" required><br>

                <label for="anum">Associate Contact Number*</label>
                <input type="text" class="text1" id="anum" name="anum" required><br>

                <label for="age">Age*</label>
                <input type="number" class="text1" id="age" maxlength="2" min="0" name="age" required ><br>

                <label for="address">Address*</label>
                <input type="text" class="text1" id="address" name="address" required><br>

                <label for="pproblem">Patient Problem*</label>
                <input type="text" class="text1" id="pproblem" name="pproblem" required><br>  

                <label for="tbed">Bed Type*</label>
                <select id="tbed" class="text1" name="tbed">
                    <option value="gen">General Ward</option>
                    <option value="semi">Semi Sharing</option>
                    <option value="single">Single Room</option>
                </select>

                <select style="display: none" id="status" class="text1" name="status">
                <option value="Active"></option>
                </select><br>
                <pre>(*)Fields are compulsary</pre>
                <button class="button" type="submit">Submit</button> &nbsp;
                <button class="rbutton" type="reset">Reset</button>
            </form>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <h3 style="color: red;  font-weight: bold; font-size: larger;"> {{ msg }} </h3>
                {% endfor %}
            {% endif %}
        {% endwith%}
        
        </div>

        </div>

    {% endblock %}