{% extends "layout.html" %}

{% block title %} Add Medicine {% endblock %}

{% block content %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<link href="{{ url_for('static', filename='css/jquery-ui.css') }}" rel="stylesheet" type="text/css" />
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
        <style>
            /* input {
                position: absolute;
                left: 150px;
            }
            
            select {
                position: absolute;
                left: 150px;
            } */
        </style>
        <div class="form1">
            <h1 style="text-align: center; color: rgb(23, 5, 187);">Add Doctors Visit</h1>
        
             
            <form action="" method="POST">
                <label for="dname">Doctor Name*</label>
                <input type="text" class="text1" id="dname" name="dname" required><br><br>
                <label for="pid">Patient ID</label>
                <input type="text" class="text1" id="project" name="pid" required><br><br>
                <label for="fee">Doctors Fee</label>
                <input type="number" class="text1" id="fee" name="fee" min="0" required><br><br>
                <pre>(*)Fields are compulsary</pre>
                <button class="button" type="submit">Submit</button>
                <button class="rbutton" type="reset">Reset</button>
            </form>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <h3 style="color: red;"> {{ msg }} </h3>
                {% endfor %}
            {% endif %}
        {% endwith%}
        
        </div>
<script>
$( function() {
    var projects = [

        {% for pat in allp %}
        {
            value: "{{pat.id}}",
            label: "{{pat.pname}} ID:{{pat.id}}"
        },

        {% endfor %}
    ];

    $( "#project" ).autocomplete({
        minLength: 0,
        source: projects,
        focus: function( event, ui ) {
            $( "#project" ).val( ui.item.label );
            return false;
        },
        select: function( event, ui ) {
            $( "#project" ).val( ui.item.value );

            return false;
        }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<div>" + item.label + "</div>" )
        .appendTo( ul );
    };
  });
 </script>


    {% endblock %}