{% extends "layout.html" %}

{% block title %} Edit Patient {% endblock %} 

{% block content %} 

<style>
    /* input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    } */
</style>
<div class="form1">
    <h1 style="color: rgb(11, 29, 129); text-align: center;">Edit Patient </h1>
    
    {% for edit in editpat %}
    <form action="" method="POST">
        <label for="id">Patient ID:   </label> <b>{{ edit.id }}</b> <br><br>
        <label for="nid">Patient NID: </label> <b> {{ edit.nid }} </b> <br><br>
        
        <label for="Name">Old Patient Name:   </label> <b>{{ edit.pname }}</b> <br><br>

        <label for="New customer Name*">New Patient Name*</label>
        <input type="text" class="text1" id="npname" name="npname" required><br><br>

        <label for="Old Address">Old Address:  </label> <b>{{ edit.address }}</b> <br><br>

        <label for="New Address*">New Address*</label>
        <input type="text" class="text1" id="naddress" name="naddress" required><br><br>

        <label for="Old Age">Old Age:  </label> <b>{{ edit.age }}</b> <br><br>

        <label for="New Age*">New Age*</label>
        <input type="number" class="text1" id="nage" name="nage" min="0"  maxlength="2" required><br><br>

        <label for="Old Address">Old Room:  </label><b> {{ edit.tbed }}</b> <br><br>

        <label for="tbed">Room Type*</label>
                <select id="tbed" class="text1" name="tbed" required>
                    <option value="gen"></option>
                </select>

                <label for="tbed">Room Name*</label>
                <select id="room" class="text1" name="room-no" required>
                    <option>Choose Room</option>

                </select>

                <label for="tbed">Bed No*</label>
                <select id="slct3" class="text1" name="troom" required>
                    <option>Choose Bed</option>

                </select>

        <label for="Old Address">Current Patient Status:  </label> <b>{{ edit.status }}</b> <br><br>
        <label for="status">New Patient Status*</label>
        <select id="status" class="text1" name="status">
            <option value="Active">Active</option>
            <option value="Discharged">Discharged</option>
        </select>

        <pre>(*)Fields are compulsary</pre>
        <button type="submit" class="button" >Update</button>
    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="font-weight: bolder;" > {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}

    {% endfor %}

</div>
<script>
    let slct1 = document.getElementById('tbed');
    let slct2 = document.getElementById('room');
    let slct3 = document.getElementById('slct3');
    let wards = ['General', 'Semi', 'Single'];
    let ganja = ['good', 'bad', 'sad'];
    wards.forEach(function addWards(item){
        let option = document.createElement('option');
        option.text = item;
        option.value = item;
        slct1.appendChild(option)
    });

    slct1.onchange = function () {
        slct2.innerHTML = "<option></option>"
        if (this.value == "General") {
            rooms = ['ROOM 1', 'ROOM 2']
            addToSlct2(rooms);

        } else if (this.value == "Semi") {
            rooms = ['SEMI-1', 'SEMI-2', 'SEMI-3', 'SEMI-4', 'SEMI-5'];
            addToSlct2(rooms);
        } else if (this.value == "Single") {
            rooms = ['SINGLE-1', 'SINGLE-2', 'SINGLE-3', 'SINGLE-4', 'SINGLE-5'];
            addToSlct2(rooms);
        }

    }


    slct2.onchange = function () {
        slct3.innerHTML = "<option></option>"
        if (this.value == "ROOM 1") {
            rooms = {{avl[0][0]}}
            addToSlct3(rooms);
        }
        else if (this.value == "ROOM 2"){
            rooms = {{avl[0][1]}}
            addToSlct3(rooms);
        }else if (this.value == "SEMI-1"){
            rooms = {{avl[1][0]}}
            addToSlct3(rooms);
        }else if (this.value == "SEMI-2"){
            rooms = {{avl[1][1]}}
            addToSlct3(rooms);
        }else if (this.value == "SEMI-3"){
            rooms = {{avl[1][2]}}
            addToSlct3(rooms);
        }else if (this.value == "SEMI-4"){
            rooms = {{avl[1][3]}}
            addToSlct3(rooms);
        }else if (this.value == "SEMI-5"){
            rooms = {{avl[1][4]}}
            addToSlct3(rooms);
        }else if (this.value == "SINGLE-1"){
            rooms = {{avl[2][0]}}
            addToSlct3(rooms);
        }else if (this.value == "SINGLE-2"){
            rooms = {{avl[2][1]}}
            addToSlct3(rooms);
        }else if (this.value == "SINGLE-3"){
            rooms = {{avl[2][2]}}
            addToSlct3(rooms);
        }else if (this.value == "SINGLE-4"){
            rooms = {{avl[2][3]}}
            addToSlct3(rooms);
        }else if (this.value == "SINGLE-5"){
            rooms = {{avl[2][4]}}
            addToSlct3(rooms);

        }


    }



    function addToSlct2(arr) {
        arr.forEach(function (item){
            let option = document.createElement('option');
            option.text = item;
            option.value = item;
            slct2.appendChild(option);
        });
    }

    function addToSlct3(arr) {
        arr.forEach(function (item){
            let option = document.createElement('option');
            option.text = item;
            option.value = item;
            slct3.appendChild(option);
        });



    }


</script>
{% endblock %}