<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} {% endblock %} </title>
<style>

</style>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% block css %}

{% endblock %}
</head>

<body >
    {% include "includes/header.html" %} 
     
        {% block content %} {% endblock %} 
            <h1 style="color: black; font-size: 50px; margin-top: 100px; margin-left: 2px;"><br><br><br><br><br><center>Dashbord Under Construction</h1></center>

</body>

</html>