<title>Login</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">



<div class="regwrapper">

        <div class="loginheading"><p><b> Receptionist Login</b></p></div>
    <div class="form">
        <form action="" method="post">

                <label for="uname" style="font-weight: bold; color: rgb(75, 84, 216);"> Employee ID </label><br><input class="text" type="text" name="username" required minlength="5" class="logindecor" placeholder="Employee ID">



                <input class="bt" type="submit" value="Login">

        </form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}

            <p class="messages"> {{ msg }} </p>

        {% endfor %}
    {% endif %}
{% endwith%}
</div>