{% extends "layout.html" %}

{% block title %} Employee List {% endblock %}

{% block content %} 

<style>
    /* input {
        position: absolute;
        left: 150px;
    }
    
    select {
        position: absolute;
        left: 150px;
    } */


</style>

<div class="form1">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p style="font-weight: bolder;" > {{ msg }} </p>
            {% endfor %}
        {% endif %}
    {% endwith%}
    <div style="text-align:center;">
    <h1 style="color: rgb(11, 29, 129); text-align: center;">Employee Details </h1>
    <img src="/static/ephotos/{{ employee.ephoto }}" height="300px" width="300px" />
    <h2>{{ employee.ename }}</h2>
    </div>
<!--    <table>-->
<!--        <tr>-->
<!--            <th>Employee ID</th>-->
<!--            <th>Designation</th>-->
<!--            <th>Contact</th>-->
<!--            <th>Date of Birth</th>-->
<!--            <th>Father's Name</th>-->
<!--            <th>Mother's Name</th>-->
<!--            <th>NID</th>-->
<!--            <th>Address</th>-->
<!--            <th>Permanent Address</th>-->
<!--            <th>Educational Background</th>-->
<!--            <th>Prev Job</th>-->
<!--        </tr>-->

<!--        <tr>-->
<!--            <th>{{employee.empid}}</th>-->
<!--            <th>{{employee.edesignation}}</th>-->
<!--            <th>{{employee.ecnum}}</th>-->
<!--            <th>{{employee.edob}}</th>-->
<!--            <th>{{employee.efname}}</th>-->
<!--            <th>{{employee.emname}}</th>-->
<!--            <th>{{employee.enid}}</th>-->
<!--            <th>{{employee.epaddress}}</th>-->
<!--            <th>{{employee.paddr}}</th>-->
<!--            <th>{{employee.eedu}}</th>-->
<!--            <th>{{employee.ejobinfo}}</th>-->
<!--        </tr>-->
<!--    </table>-->


    <table class="table emp" style="width:100%;">
  <thead class="thead-dark">
    <tr>
            <th>Employee ID</th>
            <td scope="row">{{employee.empid}}</td>

    </tr>
    <tr>
        <th>Designation</th>
        <td scope="row">{{employee.edesignation}}</td>
    </tr>
    <tr>
        <th>Contact</th>
        <td scope="row">{{employee.ecnum}}</td>
    </tr>

    <tr>
        <th>Date of Birth</th>
        <td scope="row">{{employee.edob}}</td>
    </tr>
    <tr>
        <th>Father's Name</th>
        <td scope="row">{{employee.efname}}</td>
    </tr>
    <tr>
        <th>Mother's Name</th>
        <td scope="row">{{employee.emname}}</td>
    </tr>
    <tr>
        <th>NID</th>
        <td scope="row">{{employee.enid}}</td>
    </tr>
    <tr>
        <th>Address</th>
        <td scope="row">{{employee.epaddress}}</td>
    </tr>
    <tr>
        <th>Permanent Address</th>
        <td scope="row">{{employee.paddr}}</td>
    </tr>
    <tr>
        <th>Educational Background</th>
        <td scope="row">{{employee.eedu}}</td>
    </tr>

    <tr>
        <th>Previous Job</th>
        <td scope="row">{{employee.ejobinfo}}</td>
    </tr>
  </thead>

</table>


</div>

{% endblock %}